<%= form_for @person do |f| %>
  <% if @person.errors.any? %>
    <div id="error_explanation">
      <% @person.errors.full_messages.each do |message| %>
        <div class="alert alert-danger"><%= message %></div>
      <% end %>
    </div>
  <% end %>

  <fieldset class="form-group">
    <legend>Names</legend>

    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="form-group">
          <%= f.label :name, "Full Name" %>
          <%= f.text_field :name, class: "form-control input-lg" %>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6">
        <div class="form-group">
          <%= f.label :chat_usernames, "Chat Usernames" %>
          <%= f.text_field :chat_usernames, class: "form-control input-lg" %>
          <p class="help-block">Slack usernames or IRC nicknames. Separated by comma or space.</p>
        </div>
      </div>
    </div>
  </fieldset>


  <fieldset class="form-group">
    <legend>URLs</legend>

    <div class="form-group">
      <%= f.label :personal_website, "Personal Website" %>
      <%= f.url_field :personal_website, class: "form-control input-lg" %>
    </div>

    <div class="form-group">
      <%= f.label :urls, "Other URLs" %>
      <%= f.text_area :urls, class: "form-control" %>
      <p class="help-block">Twitter, Facebook, Instagram, GitHub, etc. Separated by white-space (space or line break).</p>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="form-group">
          <%= f.label :photo, "Photo (profile / avatar)" %>
          <%= f.url_field :photo, class: "form-control" %>
          <p class="help-block">URL of image, preferrably on your personal website.</p>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6">
        <div class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email, class: "form-control" %>
        </div>
      </div>
    </div>

  </fieldset>


  <fieldset class="form-group">
    <legend>Geo</legend>

    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="form-group">
          <%= f.label :location %>
          <%= f.text_field :location, class: "form-control" %>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6">
        <div class="form-group">
          <%= f.label :timezone %>
          <%= f.select :timezone_id, Timezone.options_for_select, { include_blank: true }, { class: "form-control" } %>
        </div>
      </div>
    </div>

  </fieldset>

  <fieldset class="form-group">
    <legend>Pronouns</legend>

    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <%= f.label :pronoun_nominative, "Nominative" %>
        <%= f.text_field :pronoun_nominative, class: "form-control" %>
        <p class="help-block">See: <%= link_to "pronoun.is", "http://pronoun.is" %></p>
      </div>

      <div class="col-xs-12 col-sm-4">
        <%= f.label :pronoun_oblique, "Oblique" %>
        <%= f.text_field :pronoun_oblique, class: "form-control" %>
      </div>

      <div class="col-xs-12 col-sm-4">
        <%= f.label :pronoun_possessive, "Possessive" %>
        <%= f.text_field :pronoun_possessive, class: "form-control" %>
      </div>
    </div>
  </fieldset>


  <fieldset class="form-group">
    <legend>Birthday</legend>

    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <%= select_year @person.birthday.try(:year),
              {
                include_blank: true,
                prompt: false,
                start_year: Time.now.year - 100,
                end_year: Time.now.year
              },
              start_year: 1900,
              end_year: Time.now.year,
              name:  "person[birthday(1i)]",
              id:    "person_birthday_year_1i",
              class: "form-control datetime-select" %>
        <p class="help-block">Year</p>
      </div>

      <div class="col-xs-12 col-sm-4">
        <%= select_month @person.birthday.try(:month),
              {
                include_blank: true,
                prompt: false,
                add_month_numbers: true
              },
              name:  "person[birthday(2i)]",
              id:    "person_birthday_2i",
              class: "form-control datetime-select" %>
        <p class="help-block">Month</p>
      </div>

      <div class="col-xs-12 col-sm-4">
        <%= select_day @person.birthday.try(:day),
              {
                include_blank: true,
                prompt: false
              },
              name:  "person[birthday(3i)]",
              id:    "person_birthday_3i",
              class: "form-control datetime-select" %>
        <p class="help-block">Day</p>
      </div>
    </div>

  </fieldset>

  <div class="form-group">
    <%= f.label :additional_info, "Additional Info" %>
    <%= f.text_area :additional_info, class: "form-control", rows: "10" %>
    <p class="help-block">Free space to write whatever you want. HTML is allowed.</p>
  </div>

  <div class="actions">
    <%= link_to "Cancel", "root_path", class: "cancel" %>
    <%= f.submit "Save" , class: "btn btn-success btn-lg" %>
  </div>
<% end %>
