<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

  <title>h-card as a service</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <nav role="navigation">
      <% if signed_in? %>
        <%= link_to 'Home', root_path, class: "btn btn-default", rel: "home" %>
        <%= link_to 'Chat People', chat_people_path, class: "btn btn-default" %>
        <%= link_to 'New Person', new_path, class: "btn btn-default" %>

        <% if signed_in? && @person.try(:domain).present? %>
          <%= link_to edit_person_path(@person), class: "btn btn-default" do %>
            Edit 
            <b><%= @person.domain %></b>
          <% end %>
        <% end %>
      <% end %>
    </nav>

    <%= yield %>
  </div>
</body>
</html>
