<!DOCTYPE html>
<html>
<head>
  <title>h-card as a service</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <nav role="navigation">
      <% if signed_in? %>
        <%= link_to 'Home', root_path, class: "btn btn-default", rel: "home" %>
        <%= link_to 'New Person', new_path, class: "btn btn-default" %>
      <% end %>
    </nav>

    <%= yield %>
  </div>
</body>
</html>
